
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>

<div class="kategori" style="background-color: #1abc9c; height: 80px">
    <h3>@ViewBag.p1</h3>
    <p>TOPLAM KATEGORİ SAYISI</p>
    <div class="clearfix"></div>
</div>

<div class="baslik" style="background-color: #ffdb58; height: 80px">
    <h3>@ViewBag.p2</h3>
    <p>BAŞLIK TABLOSUNDA "YAZILIM" KATEGORİSİNE AİT BAŞLIK SAYISI</p>
    <div class="clearfix"></div>
</div>

<div class="yazar" style="background-color: #8a0303; height: 80px">
    <h3>@ViewBag.p3</h3>
    <p>YAZAR ADINDA 'a' HARFİ GEÇENLERİN SAYISI</p>
    <div class="clearfix"></div>
</div>

<div class="kategoriFazla" style="background-color: #ffb4bf; height: 80px">
    <h3>@ViewBag.p4</h3>
    <p>EN FAZLA BAŞLIĞA SAHİP KATEGORİ ADI</p>
    <div class="clearfix"></div>
</div>

<div class="durum" style="        background-color: #add8e6; height: 80px">
    <h3>@ViewBag.p5</h3>
    <p>KATEGORİ TABLOSUNDA DURUMU TRUEOLAN KATEGORİLERLE FALSE OLAN KATEGORİLER ARASINDAKİ SAYISAL FARK</p>
    <div class="clearfix"></div>
</div>

